.available{
    padding: 0.2em 0.5em;
    background-color: #1C8C4D;
}

.available:before{
    content: "Disponible";
    color: #FFFFFF;
}

.disabled{
    padding: 0.2em 0.5em;
    background-color: #DC3545;
}

.disabled:before{
  content: "No disponible";
  color: #FFFFFF;
}
