div {
    margin: 1em;
    font-family: Helvetica, Arial, sans;
  }
  
  h1 {
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    margin: 1em;
  }
  
  .st {
    padding: 0.2em 0.5em;
    background-color: green;
  }
  
  .st:before {
    content: "disponible";
    color: white;
  }
  
  .sh {
    padding: 0.2em 0.5em;
    background-color: red;
  }
  
  .sh:before {
    content: "no disponible";
    color: white;
}

.container{
    background-color: grey;
}


#two{
    background-color: blue;
}
#three{
    background-color: green;
}
#four{
    background-color: yellow;
}
#five{
    background-color: orange;
}